*.srv2
*.vtt
*.webm
*.mp3
*.mp4
*.pyc
*.egg-info/
frames
*.yaml
*.whl
*.tar.gz
dist

# local huggingface model directories and files
feature_extractor
safety_checker
scheduler
text_encoder
tokenizer
unet
vae
model_index.json
